<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Worklog</title>
</head>
<body>
<form method="post" th:action="@{/worklog/add_worklog}" th:object="${workLogRequest}">
    <div>
        <label>Superhero Name:</label>
        <input type="text" th:field="*{superheroName}" /><br><br>
        <p th:if="${#fields.hasErrors('superheroName')}" th:errorclass="error" th:errors="*{superheroName}" />
        <label>Mission:</label>
        <select class="form-control" th:field="*{mission}">
            <option th:each="mission : ${missions}"
                    th:value="${mission.id}"
                    th:text="${mission.missionName}">
            </option>
        </select><br><br>

        <label>Date:</label>
        <input type="date" th:field="*{date}"><br><br>

        <label>Task:</label>
        <input type="text" th:field="*{task}"><br><br>
    </div>
    <input type="submit"/>
</form>
</body>
</html>